body {
  background-color: rgb(9, 18, 20);
}

h1 {
  background-color: yellow;
  text-align: center;
  font-style: italic;
}

h5 {
  background-color: rgb(146, 146, 56);
  font-size: large;
  text-align: center;
}
